@use "../../Styles/variable" as *;
@use "../../Styles/mixins" as *;

/* ========================
   WRAPPER
======================== */
.wrapper {
    background-color: $secondary-color;
    padding: 1rem 0;

    .list {
        @include body-400;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .header,
    .body,
    .access {
        background-color: $primary-color;
        border-radius: 1rem;
        padding: 1.5rem 1.25rem;
    }

    .header,
    .cartItem {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 100px;

    }

    .checkboxContainer {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 0.75rem;
        gap: 0.5rem;

        label {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .actions {
        svg {
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    /* Access Bar */
    .access {
        @include body-400;
        font-size: 1rem;
        background-color: $primary-color;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr max-content;
        margin-top: 1rem;
        border-radius: 1rem;

        .buy {
            min-width: 250px;
            height: 3rem;
            display: flex;
            justify-content: center;
            border-radius: 1rem;
        }
        .right {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}

/* ========================
   CART ITEM
======================== */
.cartItem {
    display: flex;
    align-items: center;
    width: 100%;

    .product {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            height: 100px;
        }

        .name {
            font-size: 1.25rem;
        }
    }

}

/* ========================
   VARIANT SELECTOR
======================== */
.variant {
    position: relative;
    cursor: pointer;

    &:hover .content {
        background-color: $accent-color;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.2s ease;

        p {
            font-size: 1rem;
        }
    }

    .variantOptions {
        padding-inline: 0.5rem;
    }
}

.variantPopup {
    z-index: 2;
    position: absolute;
    left: calc(50% - 2.5rem);
    transform: translateX(-50%);
    width: 200%;
    background-color: $secondary-color;
    border: 0.5px solid $accent-color;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;

    .optionGroup {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap: 0.25rem;

        .option {
            outline-width: 1px;
        }
    }
}

.variantGroup {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* ========================
   ICONS
======================== */
.arrowIcon {
    transform: rotate(90deg);
    transition: all ease 0.2s;

    &.active {
        transform: rotate(-90deg);
    }
}