@use "../../Styles/variable" as *;


.wrapper {
    .header {
        margin-bottom: 2rem;

        h1 {
            font-size: 2.5rem;
        }
    }

    .collectionWrapper {
        display: flex;
        align-items: center;

        .collection {
            flex: 1;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }

            .collectionInfo {
                width: 100%;
                height: 20%;
                position: absolute;
                bottom: -20%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                background-color: #00000085;
                border-top: 0.5px solid $accent-color;
                transition: all 0.2s ease;
            }

            &:hover {
                .collectionInfo {
                    bottom: 0;
                }

                .line {
                    width: 100%;
                }
            }

            p {
                font-size: 3rem;
                letter-spacing: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
            }

            .line {
                width: 0;
                height: 2px;
                background-color: #fff;
                transition: width 1s ease;
            }

        }

    }
}