@use "../../Styles/variable" as *;

.wrapper {
    position: absolute;
    top: 100%;
    right: 32%;
    width: 100%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
    background-color: $primary-color;
    z-index: 999;
    &::after {
        content: "";
        position: absolute;
        top: -12px;
        right: 5%;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 12px solid #fff;
    }

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $accent-color;
        padding-bottom: 1rem;
    }

    .body {
        width: 100%;
        .cartInfo {
            margin-top: 1rem;
            display: flex;
            align-self: center;
            justify-content: flex-end;
            .totalItems {
                flex: 1;
                display: flex;
                align-items: center;
                opacity: 0.4;;
                font-size: 0.75rem;
            }
        }
    }

    .empty {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
}


.CartItemWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    .left {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    img {
        width: 3rem;
    }

    .quantity {
        font-size: 1rem;
        color: $accent-color;
    }
}