@use "../../Styles/variable" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/grid" as *;

.wrapper {
    @include body-400;
    display: flex;
    font-size: 1rem;
    position: relative;

    .dashBoard {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 1rem;

        .header {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        .option {
            display: flex;
            flex-direction: column;
            align-content: center;

            .title {
                display: flex;
                align-items: center;
            }

            .subOptions {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                padding-left: 2rem;
                width: 100%;

                .active {
                    color: red;
                }
            }
        }
    }

    .board {
        min-height: max-content;
        border: 0.5px solid $accent-color;
    }

    svg {
        width: 32px;
        height: 32px;
    }

    .profileWrapper,
    .addressWrapper {
        padding: 1rem 1.5rem;
    }

    .header {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $accent-color;
    }

}


.profileWrapper {
    .body {
        display: flex;
        padding-top: 1rem;
        width: 100%;

        .left {
            display: grid;
            justify-content: center;
            align-self: center;
            grid-template-columns: max-content max-content;
            gap: 2rem;
            text-align: end;
            font-size: 1.25rem;
        }

        input {
            font-size: 1.25rem;
            color: #fff;

        }

        .saveBtn,
        .resetBtn {
            width: max-content;

            span {
                font-size: 1rem;

            }
        }

        .saveBtn {
            justify-self: end;
        }
    }

    .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .hiddenInput {
            display: none;
        }

    }

}

.popUpOverLay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.addressWrapper {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .addAddressBtn {
            span {
                font-size: 1rem;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;

        .address {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .actions {
                display: grid;
                grid-template-columns: max-content max-content;
                column-gap: 0.25rem;
                row-gap: 0.75rem;

                button {
                    text-align: end;
                    font-size: 0.75rem;

                }
            }

            .addressDetail {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
            }

            .defaultAddress {
                border: 1px solid $accent-color;
                padding: 0.25rem 0.75rem;
            }

            .default {
                grid-column: 1 / span 2;
            }

            .option {
                color: #fff;
                font-size: 1rem;
            }
        }
    }
}

.popUpAddress {
    position: absolute;
    padding: 1rem 1.5rem;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary-color;
    border: 0.5px solid $accent-color;

    .body {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;

        .groupBtn {
            grid-column: span 2;
            justify-self: flex-end;
            display: flex;
            gap: 0.75rem;
        }

        .returnBtn,
        .completeBtn {
            max-width: 200px;

            &:hover {
                span {
                    color: $primary-color
                }
            }
        }

        .addressDetail {
            resize: none;
            grid-column: span 2;
            border: 1px solid $accent-color;
            height: 100px;
            font-size: 1.25rem;
            padding: 0.5rem 0;
            padding-inline: 0.5rem;
        }
    }
}

.orderWrapper {
    width: 100%;

    .orderNavigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem 0;

        .navItem {
            padding: 1rem 1.5rem;
            text-align: center;
            background-color: $secondary-color;
            min-width: 20%;
            border-radius: 2px;
            transition: all 0.5s ease;
            position: relative;
            .line {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0%; // hidden by default
                background: #fff; // choose your color
                transition: width 0.3s ease;
                border-radius: 4px;
            }

            &.active {

                .line {
                   width: 100%;
                }
            }

            &:hover {
                color: $accent-color;

                .line {
                    width: 100%;
                }
            }

        }
    }

    .body {
        .orders {
            background-color: $secondary-color;
            padding: 12px 16px;
            border-radius: 4px;
            margin: 12px 0;
            .review {
                text-align: end;
            }
            .order {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .item {
                    display: grid;
                    align-items: center;
                    grid-template-columns: max-content 1fr max-content;
                    padding: 0.5rem 0;
                    border-top: 1px solid $accent-color;
                    border-bottom: 1px solid $accent-color;
                    .info {
                        text-align: left;
                        padding-inline-start: 0.5rem;
                        .variants {
                            font-size: 1rem;
                            color: $accent-color;
                        }
                        .quantity {
                            font-size: 1rem;
                        }
                    }
                    .priceReview {
                        .review {
                        }
                    }
                    img {
                        height: 75px;
                    }
                }
                .amount {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 2rem;
                    p {
                        color: $accent-color;
                        font-size: 1rem;
                        padding-inline-end: 0.5rem;
                    }                    
                }
                .repurchase {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}

