@use "../../Styles/variable" as *;
@use "../../Styles/index.scss" as *;
@use "../../Styles/mixins" as *;

.wrapper {
    position: relative;
    .header {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: $secondary-color;
        padding: 1rem;
        border-bottom: 2px solid $primary-color;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .body {
        display: flex;
    }

    .dashboard {
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        padding: 1rem 1.5rem 0;
        min-height: 100vh;

        a {
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            transition: all 0.5s ease;

            .name {
                font-size: 1.25rem;
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .active {
            background-color: #fff;
            color: #000;

            svg path {
                fill: $primary-color;
            }
        }
    }

    .content {
        padding: 1.5rem;
    }

    h2 {
        margin: 1rem 0;
    }
}

.dashBoardWrapper {



    .general {

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }


    .dataBoxWrapper {
        width: 25%;
        display: grid;
        grid-template-columns: 1fr max-content; // two columns for row 1
        grid-template-rows: auto auto; // row 1 + row 2
        gap: 1rem;
        background-color: $secondary-color;
        border-radius: 1rem;

        padding: 1rem;

        .data {
            grid-column: 1 / span 2;
        }
    }
}

.tableStatistics {
    @include body-400;
    background-color: $secondary-color;
    padding: 1rem 1rem 1.5rem;
    border-radius: 1rem;
    margin-top: 1.5rem;

    .table {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }

    /* === Shared styling === */
    .tableHeader,
    .tableRow {
        padding: 1rem;
        display: grid;
        gap: 2rem;

        div {
            display: flex;
            align-items: center;
        }
    }

    .tableHeader {
        background-color: $accent-color;
        border-radius: 1rem;
        font-weight: 600;
        font-size: 1.25rem;
    }

    .tableBody {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        font-size: 1rem;
    }

    .tableRow {
        cursor: pointer;
        border-bottom: 0.5px solid #ffffff6b;
        transition: all 0.4s ease;

        &:hover {
            border-radius: 1rem;
            background-color: $accent-color;
        }
    }

    .groupAction {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            width: 25%;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }

        .add {
            justify-content: center;
            min-width: 15%;
            border-radius: 1rem;
        }
    }



    .action {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    /* === Best-selling (3 columns) === */
    &.bestSelling {

        .tableHeader,
        .tableRow {
            grid-template-columns: 1fr 120px 200px;
        }
    }


    &.user {

        div:nth-child(4) {
            justify-content: end;
        }

        .tableHeader,
        .tableRow {
            grid-template-columns: 1fr 1fr 1fr 100px;
        }
    }

    &.order {
        .tableHeader,
        .tableRow {
            grid-template-columns: 1fr 1fr 100px 1fr 1fr 100px;
        }
    }
  .note {
            font-size: 0.75rem;
            margin-bottom: 0.5rem;
        }

    &.product {

        .tableHeader,
        .tableRow {
            grid-template-columns: 2fr 1fr 120px 120px 1fr 100px;
        }

      
        .info {
            .name {
                font-size: 1rem;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            img {
                width: 25px;
            }

            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    /* === Latest orders (4 columns) === */
    &.latestOrders {

        .tableHeader,
        .tableRow {
            grid-template-columns: 1fr 120px 200px 100px;
        }
    }

    .statusBadge {
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
        font-weight: 600;
        text-transform: capitalize;
        width: max-content;
    }

    /* Pending */
    .Pending {
        background-color: #ffe9b5;
        color: #c37a00;
    }

    /* InTransit */
    .InTransit {
        background-color: #bfe4ff;
        color: #0066a9;
    }

    /* Completed */
    .Completed {
        background-color: #c8f7c5;
        color: #1f7a1f;
    }

    /* Cancelled */
    .Cancelled {
        background-color: #ffcccc;
        color: #b30000;
    }
}

.userWrapper,
.productWrapper,
.orderWrapper {
    .header {
        background-color: transparent;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        h2 {
            margin: 0;
        }
    }
}
