@use "../../Styles/variable" as *;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin: 1.5rem 0;
    .circle {
        cursor: pointer;
        width: 1rem;
        aspect-ratio: 1;
        border: 2px solid $accent-color;
        border-radius: 50%;
        position: relative;
        transition: all 0.2s ease;
            &.active {
            border-color: $text-color;

            &::after {
                content: "";
                width: 150%;
                height: 3px;
                background-color: $text-color;
                position: absolute;
                bottom: -60%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
        &:hover {
            border-color: $text-color;
        }
    }
    .left {
        transform: scaleX(-1);
    }

    .left,
    .right {
        cursor: pointer;
        display: flex;
        align-items: center;

    }
}